*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-top{
    background: #232536;
    width: 100%;
    height: 80px;
}

.rasm{
    height: 80px;
    display: inline;
}

// .er{
//     background: rgb(0, 0, 0);
// }

ul{
    height: 80px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

button{
    width: 147px;
    height: 80px;
    background: none;
    border:none ;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFD3AF;
    gap: 10px;
}

.navbar-card{
    width: 100%;
}

svg{
    color: #FFD3AF;
}
/* .row{
    background-color: red;
} */

nav ul{
    width: 75%;
    height: 80px;
    // background: #232536;
}

nav{
    width: 100%;
    height: 80px;
    display: block;
}

.box1{
    width: 400px;
    height: 400px;
    background: red;
    display: none;
}

.nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between
    /* background: black; */
}

.button{
    display: none;
    color: black;
}

// navbar media



@media only screen and (max-width: 991px) {
    .nav{
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background: #232536;
        left: -100%;
        top: 70px;
        transition: 0.3s;
        padding: 0;
        margin: 0;
    }

    .nav.active{
        left: 0;
    }

    nav ul{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #232536;
        padding: 0;
    }

    .nav button{
        color: #FFFFFF;
        margin-top: -30px;
        margin-left: 20px;
    }

    .button{
        display: block;
        text-align: center;
    }

    .bi-arrow-right{
        color: #ffffff;
    }
}


// navbar media




// header-center start

.header-center{
    background: #232536;
    height: 900px;
    display: flex;
    align-items: center;
}

.header-center img{
    width: 100%;
    height: 632px;
}

.header-center h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    color: #FFFFFF;
}

.header-center p{
    width: 430px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 24px;
}

.header-btn a svg{
    color: white;
    margin-top: 3px;
}

.header-btn a{
    height: 64px;
    border: 2px solid white;
    width: 219px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.87;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    margin-top: 30px;
}

.header-btn a:hover{
    height: 64px;
    background: #444CFC;
    width: 219px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border: none;
    color: #FFFFFF;
    opacity: 0.87;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

// header-center end

// header-footer start

.header-footer{
    background: #232536;
}


.header-footer h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.6;
}


.header-footer h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #ff0000;    
}

// header-footer end