*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-top{
    background: #232536;
    width: 100%;
    height: 80px;
}

.rasm{
    height: 80px;
}

// .er{
//     background: red;
// }

ul{
    height: 80px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

button{
    width: 147px;
    height: 56px;
    background: none;
    border:none ;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFD3AF;
}

svg{
    color: #FFD3AF;
}
/* .row{
    background-color: red;
} */

nav{
    width: 65%;
    height: 80px;
    /* background: black; */
}