nav {
    background-color: $main-color;
    padding: 27px 0;
    @include for-tabele-only {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}

.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    &__btn {
        display: none;
        @include for-tabele-only {
            display: block;
            background: none;
            padding: 5px 5px 1px 5px;
            border-radius: 5px;
        }
    }
    &__menus {
        display: flex;
        @include for-tabele-only {
            max-width: 792px;
            height: 100vh;
            padding: 50px 109px 0 109px;
            position: fixed;
            top: 79px;
            right: 0;
            background-color: $main-color;
            transform: translateX(100%);
            transition: 0.5s;
            z-index: 1;
        }
    }
    &__menu {
        display: flex;
        column-gap: 32px;
        @include for-tabele-only {
            flex-direction: column;
            text-align: center;
            row-gap: 25px;
        }
        &__item {
            &__link {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                opacity: 0.6;
                padding-top: 25px;
                @include for-tabele-only {
                    opacity: 1;
                }
            }
            &__link:hover {
                border-top: 3px solid #FFA155;
                opacity: 1;
                @include for-tabele-only {
                    border: none;
                }
            }
        }
    }
}

.navbar--page {
    color: #FFD3AF;
    opacity: 1;
}

.click--btn {
    border: 2px solid #FFFFFF;
}

.check--menus {
    transform: translateX(0);
}

.hero {
    position: relative;
    margin-top: 180px;
    padding-top: 52px;
    @include for-tabele-only {
        margin-top: 96px;
    }
    @include for-mobile-only {
        padding-top: 80px;
    }
    &__box {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__logo {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__nick {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.87;
        @include for-mobile-only {
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__title {
        max-width: 664px;
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: $main-color;
        margin: 20px 0 24px 0;
        @include for-mobile-only {
            font-size: 30px;
            line-height: 33px;
            text-align: center;
        }
    }
    &__text {
        max-width: 719px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $main-color;
        opacity: 0.87;
        @include for-mobile-only {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
    }
    &__user {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        column-gap: 12px;
        margin-top: 40px;
        @include for-tabele-only {
            flex-direction: column;
            align-items: center;
        }
        @include for-mobile-only {
            row-gap: 25px;
        }
        &__logo {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            @include for-tabele-only {
                display: none;
            }
        }
        &__img {
            max-width: 100%;
            object-fit: contain;
        }
    }
}